* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

.login{
    border: 1px solid gray;
    width: 430px;
    height: 330px;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
}

.button{
    background-color: rgb(15, 158, 15);
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}